# ASSIGNMENT 4

1. What exactly is []?

Ans - [] is the sytax that denotes an empty list. it means the list contains no values

2. In a list of values stored in a variable called spam, how would you assign the value &#39;hello&#39; as the
third value? (Assume [2, 4, 6, 8, 10] are in spam.)

In [1]:
spam = [2,4,6,8,10]
spam.insert(2,"hello")

In [2]:
spam

[2, 4, 'hello', 6, 8, 10]

Let&#39;s pretend the spam includes the list [&#39;a&#39;, &#39;b&#39;, &#39;c&#39;, &#39;d&#39;] for the next three queries.

3. What is the value of spam[int(int(&#39;3&#39; * 2) / 11)]?

In [3]:
spam = ['a','b','c','d']

In [4]:
# 3 . ans - the below code gives an error because we cant multiply or concatenate a string and integer.
spam[int(int('3'*2/11))]

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [5]:
# can be modified as such
spam[int(int('3')*2/11)]

'a'

4. What is the value of spam[-1]?

In [7]:
spam[-1] # it will return the first string from the last

'd'

5. What is the value of spam[:2]?

In [9]:
spam[:2] # it will return the values from 0 to 2 index except the upperbound which is 2 index

['a', 'b']

Let&#39;s pretend bacon has the list [3.14, &#39;cat,&#39; 11, &#39;cat,&#39; True] for the next three questions.

In [2]:
bacon = [3.14,'cat',11,"cat",True]

6. What is the value of bacon.index(&#39;cat&#39;)?

In [3]:
bacon.index("cat")
# since the index starts from 0 , therefore it will give the index of first duplicate value

1

7. How does bacon.append(99) change the look of the list value in bacon?

In [6]:
bacon.append(99)
# with this line of code, the value 99 will be added at the end of the list as a 6th element

In [9]:
bacon

[3.14, 'cat', 11, 'cat', True, 99]

8. How does bacon.remove(&#39;cat&#39;) change the look of the list in bacon?

In [10]:
bacon.remove("cat")
# this line of code will remove the value "cat" that comes first in the list from the list

In [11]:
bacon

[3.14, 11, 'cat', True, 99]

9. What are the list concatenation and list replication operators?

Ans - list concatenation operator is + . list replication operator is *

In [13]:
# example 
list1 = [123,23,4543,2,3,"hello"]
list2 = ["world",True,100]
list3 = list1 + list2
list4 = list2 * 2

In [14]:
list3

[123, 23, 4543, 2, 3, 'hello', 'world', True, 100]

In [15]:
list4

['world', True, 100, 'world', True, 100]

10. What is difference between the list methods append() and insert()?

Ans - list append() method will always add the value or element at the end of the list
      but insert() method adds the element at any places or at any index position.

In [18]:
# example 
l1 = [1,2,3,4,5,6]
l1.append(7)
l1.insert(2,100)
l1

[1, 2, 100, 3, 4, 5, 6, 7]

11. What are the two methods for removing items from a list?

Ans - 2 methods are pop() and remove (). the method pop() deletes the element from the list based on the index number.
      but the remove() method deletes an element based on the element value itself.

In [20]:
# example 
l1 = [11,22,334,44,55,66]
l1.pop(1)

22

In [21]:
l1.remove(55)

In [22]:
l1

[11, 334, 44, 66]

12. Describe how list values and string values are identical.

Ans - string is list of characters enclosed within quotes and list is series of values saperated by comma and emclosed within rectangular brackets . string and list are same in the ways like:
  1. the characters in the string and values in the list have indexes and can be accessed through them
  2. both have similar functions like len(),split()

13. What&#39;s the difference between tuples and lists?

Ans - list is mutable entity whose elements can be modified and has multiple funcitons to handle the data.
      but tuple is a group of immutable entities whose values cant be reassigned. it si used when we want to keep the data fixed or permanent. it has limited functions

14. How do you type a tuple value that only contains the integer 42?

In [27]:
tuple1 = (42,) 
# the comma is necessary if we want to have only 1 value in a tuple

In [28]:
type(tuple1)

tuple

15. How do you get a list value&#39;s tuple form? How do you get a tuple value&#39;s list form?

In [32]:
l1 = [2,"hello",True,34543]
t1 = tuple(l1)
t1

(2, 'hello', True, 34543)

In [33]:
t2 = (123,34,"good morning")
l2 = list(t2)
l2

[123, 34, 'good morning']

16. Variables that &quot;contain&quot; list values are not necessarily lists themselves. Instead, what do they
contain?

Ans - varibles that contain the list values actually contain the references to those values

17. How do you distinguish between copy.copy() and copy.deepcopy()?

Ans - copy.copy() method is used to create a new object which is referencing to the original entity. it is called as shallow copy. the changes made in the copied objects are reflected in the original entity. 
      but in copy.deepcopy() ,it create a new object as well as references the new set of values copied from the original one.the changes made in deep copied elements are not reflected inthe original one .